@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(228, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: #1f2f56;
}

/* basic CSS reset */
/******************************/
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: var(--PaleBlue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  font-family: "Red Hat Display", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

h1,
h2,
h3,
p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* LAYOUT */
/******************************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.card-component {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  margin: 3rem 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  text-align: center;
  overflow: hidden;
}

.card-component--description {
  padding: 3.2rem;
}

/* TEXT STYLES */
/******************************/
.product-title {
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 29px;
  color: var(--DarkBlue);
  margin-bottom: 1.6rem;
}

.lead-text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 25px;
  color: var(--DesaturatedBlue);
}

.cta-text {
  font-size: 1.4rem;
  line-height: 19px;
  color: var(--DesaturatedBlue);
}

.annual-plan-text {
  font-weight: 900;
  color: var(--DarkBlue);
}

.links {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 17px;
  color: var(--BrightBlue);
  text-decoration: underline;
  transition: 0.5s;
}

.links:hover {
  color: #766cf1;
  text-decoration: none;
}

/* COMPONENTS */
/******************************/
.cta {
  display: flex;
  align-items: center;

  margin: 2.4rem 0;
  border-radius: 11px;
  padding: 1.7rem;
  background-color: var(--VeryPaleBlue);
}

.cta-icon {
  margin-right: 2rem;
}

.cta a {
  margin-left: auto;
}

/* BUTTONS */
/******************************/
.btn {
  display: block;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 20px;

  transition: 0.5s;
}

.btn-lead {
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.19);
  margin-bottom: 2.4rem;
  border-radius: 11px;
  padding: 1.5rem 0;
  background-color: var(--BrightBlue);
  color: #fff;
}

.btn-secondary {
  color: var(--DesaturatedBlue);
}

.btn-lead:hover {
  background-color: #766cf1;
}

.btn-secondary:hover {
  color: var(--DarkBlue);
}

@media (min-width: 900px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .card-component {
    max-width: 450px;
  }

  .card-component--description {
    padding: 4.5rem 4.8rem 4.8rem 4.8rem;
  }

  .product-title {
    font-size: 2.8rem;
    line-height: 37px;
    margin-bottom: 1.7rem;
  }

  .lead-text {
    font-size: 1.6rem;
    line-height: 26px;
  }

  .cta-text {
    font-size: 1.6rem;
    line-height: 21px;
  }

  .links {
    font-size: 1.4rem;
  }
}
