@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
}


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--PaleBlue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

.mainbox {
  width: 450px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 0 15px 15px -15px var(--DesaturatedBlue);
  margin: 20px 0;
}

.box {
  margin: 30px 45px 50px;
}

main>img {
  width: 100%;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text {
  margin-top: 20px;
  padding: 0 20px;
  line-height: 25px;
  color: var(--DesaturatedBlue);
}

.small-box {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 25px 0 30px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--VeryPaleBlue);
}

.small-box img {
  float: left;
}

.annual-plan {
  float: left;
  margin-left: 20px;
  line-height: 25px;
}

.plan {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
}

.price {
  color: var(--DesaturatedBlue);
  font-size: 1rem;
  font-weight: 400;
}

.change {
  float: right;
  color: var(--BrightBlue);
  line-height: 60px;
  font-size: 0.9rem;
  font-weight: 700;
}

.change:hover {
  text-decoration: none;
  color: darkorchid;
}

button {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  background-color: var(--BrightBlue);
  box-shadow: 0 30px 20px -20px var(--BrightBlue);
  color: white;
  font-weight: 900;
  font-size: 0.90rem;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: darkorchid;
}

.cancel {
  display: block;
  margin: 35px 0 0;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  font-size: 0.95rem;
  text-decoration: none;
}

.cancel:hover {
  color: var(--DarkBlue);
}

@media(max-width:600px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }

  .mainbox {
    width: 90%;
  }

  .box {
    margin: 30px 20px;
  }
}