@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(228, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: #1f2f56;
}

/* basic CSS reset */
/******************************/
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--PaleBlue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  font-family: "Red Hat Display", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

h1,
h2,
h3,
p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* LAYOUT */
/******************************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.card-component {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  margin: 1.875rem 0;
  border-radius: 1.25rem;
  background-color: #fff;
  box-shadow: 0px 2.5rem 2.5rem -1.25rem rgba(13, 48, 189, 0.15);
  text-align: center;
  overflow: hidden;
}

.card-component--description {
  padding: 2rem;
}

/* TEXT STYLES */
/******************************/
.product-title {
  color: var(--DarkBlue);
  font-size: clamp(1.375rem, 1.243rem + 0.5634vw, 1.75rem);
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 1rem;
}

.lead-text {
  color: var(--DesaturatedBlue);
  font-size: clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem);
  font-weight: 500;
  line-height: 1.625;
}

.cta-text {
  color: var(--DesaturatedBlue);
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 1.35;
}

.annual-plan-text {
  font-weight: 900;
  color: var(--DarkBlue);
}

.links {
  color: var(--BrightBlue);
  font-size: clamp(0.8125rem, 0.7905rem + 0.0939vw, 0.875rem);
  font-weight: 700;
  line-height: 17px;
  text-decoration: underline;
  transition: 0.5s;
}

.links:hover {
  color: #766cf1;
  text-decoration: none;
}

/* COMPONENTS */
/******************************/
.cta {
  display: flex;
  align-items: center;

  background-color: var(--VeryPaleBlue);
  border-radius: 11px;
  margin: 1.5rem 0;
  padding: 1.0625rem;
}

.cta-icon {
  margin-right: 1.25rem;
}

.cta a {
  margin-left: auto;
}

/* BUTTONS */
/******************************/
.btn {
  display: block;
  font-size: 0.9375rem;
  font-weight: 900;
  line-height: 1.25rem;

  transition: 0.5s;
}

.btn-lead {
  box-shadow: 0px 1.25rem 1.25rem rgba(56, 42, 225, 0.19);
  background-color: var(--BrightBlue);
  border-radius: 11px;
  color: #fff;
  margin-bottom: 1.5rem;
  padding: 0.9375rem 0;
}

.btn-secondary {
  color: var(--DesaturatedBlue);
}

.btn-lead:hover {
  background-color: #766cf1;
}

.btn-secondary:hover {
  color: var(--DarkBlue);
}

@media (min-width: 900px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }

  .card-component {
    max-width: 450px;
  }

  .card-component--description {
    padding: 2.8125rem 3rem 3rem 3rem;
  }

  .product-title {
    line-height: 37px;
    margin-bottom: 1.0625rem;
  }

  .cta {
    margin: 1.25rem 0 2rem 0;
  }

  .cta {
    padding: 1.5625rem 1.5rem;
  }

  .btn-lead {
    margin-bottom: 2rem;
  }

  .annual-plan {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
